<div class="container">
    <h3 class="title">Projects</h3>
    <div>
        {{#each domain}}
            <div class="domains">
                <h4>{{title}}</h4>
                <hr class="h-line">
                {{#each project}}
                    <a class="sample-obj" style="display: block" href="{{link}}">
                        <div id="sample">
                            <h4 class="sample-title">{{title}}</h4>
                            <img class="img-preview" src="{{img}}">
                            <p class="sample-description">{{description}}</p>
                        </div>
                    </a>
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>